img {
	height:50px;
	width:50px;
}
.latest-link {
    position:relative;
    margin-top:3px;
    margin-right:100px;
}
menu-btn {

}
p {
    display: inline;
}

nav#titlebar {
    /*background-color: green;*/
    color: white;
    height: 50px;
}

html {
    height: 100vh;
    width: 100wh;
    max-width: 100%;
    x-overflow: hidden;
}

body {
    align-items:stretch;
    display: flex;
    margin-top: 5px;
    height: 100wh;
    max-width: 100%;
    width: 100%;
    x-overflow: hidden;
}

#sidebar {
    height: 100vh;
    right: 0px;
    width:125px;
    top: 50px;
    position: fixed;
    background-color: lightblue;
    z-index: 0;
}
#sidebar.active {
    right: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        right: -250px;
    }
    #sidebar.active {
        right: 0;
    }
    .inessential {
        display:none;
    }
}
.title-link img {
    position:relative;
    top:3px;
    margin-right:10px;
}

.indent1 {
    text-indent: 25px;
}

.indent2 {
    margin-left: 50px;
}

.title-link {
    color: white;
}

.title-link:hover {
    text-decoration: none;
    color: white;
}

.content {
    margin-top: 50px;
    text-align: left;
}

a:hover {
    text-decoration: none;
}

.scrollablenav {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
.navbar-btn#sidebarCollapse {
    background-color:#343a40!important;
    height:50px;
    top:0px;
    float:right;
    right:10px;
    box-sizing:border-box;
    border:0px;
    padding:0px;
}
.navbar-btn#sidebarCollapse img{

    position:absolute;
    background-color:#343a40!important;
    height:50px;
    margin-top:0px;
    padding-top:10px;
    border-top:0px;
    padding-right:20px;
    margin-right:0px;
    border-right:0px;
    right:0px;
    top:0px;
    margin-bottom:0px;
    color:white;
    box-sizing:border-box;
}

.navbar-btn#sidebarCollapse span {

    position:absolute;
    background-color:#343a40!important;
    height:50px;
    margin-top:0px;
    padding-top:10px;
    border-top:0px;
    padding-right:20px;
    margin-right:0px;
    border-right:0px;
    right:0px;
    top:0px;
    margin-bottom:0px;
    color:white;
    box-sizing:border-box;
    font-size:150%;
}