{% extends "videopage.html" %}
{% block style %}
video {
		width:40wh;
		height:40vh;
}
.front {
	left:1px;
	bottom:0px;
}
.side {
	right:1px;
	bottom:0px;
}
.link.side {
	margin-left:0px;
	text-align: left;
}
.link.front {
	float:left;
	margin-left:0px;
	text-align:right;
}

.fix {
	bottom:0px;
}
div {
	height:100%;
	width:100%;
}
{% endblock %}
{% block content %}
{{super()}}
<form method="POST">
    <input name="plate" value="{{ plate }}">
    <input type="submit">
</form>
{% endblock %}
{% block footer %}
{% endblock footer %}
