<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="/jquery"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
    <title>{% block title %}SafeRide{% endblock %}</title>
    <style>
        {% block style %}
        {% endblock style %}

    </style>

</head>
<body>

{% block titlebar %}
<nav id="titlebar" class="navbar navbar-expand-md fixed-top nav-dark bg-dark">
    <!--<img src="/favicon.ico" width="30" height="30">-->
    <a href="/" class="title-link navbar-brand menu-btn"><h5><img src="/static/saferide.png" alt="SafeRide" height="56px" width="56px"></h5></a>
    <h4><a href="/ride/latest" class="title-link nav-link inessential latest-link">Latest Ride</a></h4>
    <h3><button type="button" id="sidebarCollapse" class="btn navbar-btn">
        <span>Rides&nbsp;&nbsp;&#8942;</span>
    </button></h3>


</nav>
{% endblock %}
<div class="content container-fluid">
    {% block content %}
    {% endblock content %}
    {% block footer %}
    {% endblock %}
</div>

{% block sidebar %}

<div class="container sidebar" id="sidebar">
    <div class="scrollablenav">
        <details open>
            <summary class="year">{{ curyear }}</summary>
            {% for month in months %}
            <details>
                <summary class="indent1">{{ month }}</summary>
                {% if month in rides %}
                {% for ride in rides[month] %}
                <span class="indent2"><a href="{{ ride['href'] }}">{{ ride['date'] }}</a>
                                {% if rides[month].__len__() > 1 %}
                                    <br>
                                {% endif %}
                                </span>
                {% endfor %}
                {% endif %}
            </details>
            {% endfor %}
        </details>
        {% for year in years %}
        <details>
            <summary>{{ year['display'] }}</summary>
            {% for month in year['months'] %}
            <details>
                <summary class="indent1">{{ month }}</summary>
                {% for ride in year['rides'][month] %}
                <span class="indent2"><a href="{{ ride['href'] }}">{{ ride['date'] }}</a>
                                        {% if year['rides'][month].__len__() > 1 %}
                                            <br>
                                        {% endif %}
                                        </span>
                {% endfor %}
            </details>
            {% endfor %}
        </details>
        {% endfor %}
    </div>
</div>


{% endblock %}


<script src="/static/jquery112.js"></script>
<script src="/static/bootstrap.js"></script>

<script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });




</script>

</body>
</html>
