<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
    <title>{% block title %}SafeRide{% endblock %}</title>
    <style>
        {% block style %}
        {% endblock style %}

    </style>

</head>
<body class="col-12">

{% block titlebar %}
<nav id="titlebar" class="navbar navbar-expand-md fixed-top nav-dark bg-dark">
    <!--<img src="/favicon.ico" width="30" height="30">-->
    <a href="/" class="title-link navbar-brand"><h5><img src="/static/saferide.png" alt="SafeRide" height="56px" width="56px"></h5></a>
    <h4><a href="/ride/latest" class="title-link nav-link">Latest Ride</a></h4>


</nav>
{% endblock %}
<div class="content container-fluid col-md-11">
    {% block content %}
    <pre>

























































































































    </pre>
    {% endblock content %}
    {% block footer %}
    {% endblock %}
</div>
{% block sidebar %}

<div class="container col-md-2 sidebar" id="sidebar">
    <div class="scrollablenav">
        <details open>
            <summary class="year">{{ curyear }}</summary>
            {% for month in months %}
            <details>
                <summary class="indent1">{{ month }}</summary>
                {% if month in rides %}
                {% for ride in rides[month] %}
                <span class="indent2"><a href="{{ ride['href'] }}">{{ ride['date'] }}</a>
                                {% if rides[month].__len__() > 1 %}
                                    <br>
                                {% endif %}
                                </span>
                {% endfor %}
                {% endif %}
            </details>
            {% endfor %}
        </details>
        {% for year in years %}
        <details>
            <summary>{{ year['display'] }}</summary>
            {% for month in year['months'] %}
            <details>
                <summary class="indent1">{{ month }}</summary>
                {% for ride in year['rides'][month] %}
                <span class="indent2"><a href="{{ ride['href'] }}">{{ ride['date'] }}</a>
                                        {% if year['rides'][month].__len__() > 1 %}
                                            <br>
                                        {% endif %}
                                        </span>
                {% endfor %}
            </details>
            {% endfor %}
        </details>
        {% endfor %}
    </div>
</div>


{% endblock %}
</body>
</html>
