{% extends "main.html" %}
{% block title %}
{{ date }} - {{ super() }}
{% endblock %}
{% block style %}
td a.invisible-link {
display:block;
color:black;
}
td a.invisible-link:hover {
color:black;
}
table {
width:50%;
}
tr {
border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #ddd}

tr.row:hover {
background-color: #bbb;
}

tr#header {
background-color:#fff;
}
{% endblock style %}
{% block content %}
{% if latest %}
<h3>Latest Ride - {{ date }}</h3>
{% else %}
<h3>{{ date }}</h3>
{% endif %}

<table>
    <tr>
        <th>License</th>
        <th>Video page</th>
    </tr>
    {% for incident in incidents %}
    <tr>
        <td class="plate-cell"><a href="{{ incident['page'] }}" class="plate invisible-link">{{ incident['plate'] }}</a>
        </td>
        <td><a href="{{ incident['page'] }}"><span>{{ incident['page'] }}</span></a></td>
    </tr>
    {% endfor %}

</table>
{% endblock content%}