{% extends "main.html" %}
{% block style %}
video {
		width:40wh;
		height:40vh;
}
.front {
	left:1px;
	bottom:0px;
}
.side {
	right:1px;
	bottom:0px;
}
.link.side {
	margin-left:0px;
	text-align: left;
}
.link.front {
	float:left;
	margin-left:0px;
	text-align:right;
}

.fix {
	bottom:0px;
}
div {
	height:100%;
	width:100%;
}
{% endblock %}
{% block content %}
<h3>{{ plate }}</h3>
<h4>{{ videotime }}</h4>
<!--
<video controls preload="metadata" class="front">
	<source src="{{ video['front'] }}.mp4" type="video/mp4">
	<source src="{{ video['front'] }}.webm" type="video/webm">
	<source src="{{ video['front'] }}.ogg" type="video/ogg">
    I'm sorry, but your browser does not support embedded video. You can download it below, though.
</video>
-->

<video controls preload="metadata" class="side">
    <source src="{{ video['side'] }}.mp4" type="video/h264"><!--
    <source src="{{ video['side'] }}.ogg" type="video/ogg">
    <source src="{{ video['side'] }}.webm" type="video/webm">
    -->
    I'm sorry, but your browser does not support embedded video. You can download it below, though.
</video>

<br><p><!--<a href="{{video['front'].mp4}}" class="link front">Download front video</a><br>-->
    <a href="{{ video['side'] }}.mp4" class="link side">Download video</a></p>

{% endblock content %}
{% block footer %}
<a href="/incidents/{{ url }}/fix" class="link fix"><br>Correct this license</a>
{% endblock %}
